body {
    background-color: #F1E9D2;
    margin: 0 auto;
    
}

.header {
    background-color: #BFB28D;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: serif;
    color: white;
    font-size: 32px;
    justify-content: center;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    margin: 20px;
    gap: 20px;

}